{#

This is a template for a simple service running on all nodes and a VIP floating betwean them.

Template parameters taken from Ansible vars/environment/facter:
 * crm_lsb_service_name

#}

{# Setup service #}
primitive crm_service lsb:{{ crm_lsb_service_name }} \
    op monitor interval="{{ crm_monitor_interval } \
    meta \
        failure-timeout="{{ crm_failure_timeout }}" \
        migration-threshold="{{ crm_migration_threshold }}"

{# Clone service to all the nodes in the group #}
clone crm_service-clone \
    crm_service \
    meta \
        clone-max="{{ play_hosts | length | string }}" \
        clone-node-max="1" \
        globally-unique="false"
