{#

This is a template for a simple service running on just one node binded to the VIP floating betwean nodes.

Template parameters taken from Ansible vars/environment/facter:
 * crm_lsb_service_name

#}

{# Setup service #}
primitive crm_service lsb:{{ crm_lsb_service_name }} \
    op monitor interval="{{ crm_monitor_interval } \
    meta \
        failure-timeout="{{ crm_failure_timeout }}" \
        migration-threshold="{{ crm_migration_threshold }}"
